*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: rgb(235, 238, 55);
    
}


.l-container-cards{
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    
}

.cartaz img{
    width: 100%;
    cursor: pointer;
}